<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <%= render 'widgets/top_bar' %>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <sales-flow ></sales-flow>

            <work-location></work-location>
            <!-- /.panel -->
            <%#= render 'widgets/chart_area' %>
            <!-- /.panel -->
            <%#= render 'widgets/chart_bar' %>
            <!-- /.panel -->
            <%#= render 'widgets/timeline' %>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>

TEST TEST

<!-- <div ng-controller="SiteController">
	controller

	<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
	<%= fa_icon "camera-retro" %>


	<div id='map' class='dark'></div>


	<style>
	  .angular-google-map-container { height: 400px; }
	</style>

	<ui-gmap-google-map center='map.center' zoom='12'></ui-gmap-google-map>
</div> -->