<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Sales Flow
        
        <buttons-group groups='["Map","Graph"]' css-class="pull-right" on-change-callback="onChangeTab(selected)"> </buttons-group>

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Total Sales</th>
                                <th>Legend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sale in data" ng-attr-id="{{sale.label}}" ng-mouseover="selectLocation(sale.center)">
                                <td>{{sale.label}}</td>
                                <td align="right">{{sale.value | currency : $ : 2}}</td>
                                <td align="center"><div class="graph-legend" style="background-color:{{sale.color.color}}"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-8">

                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="map" aria-labelledBy="map-tab">
                    
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>

                            <ui-gmap-circle ng-repeat="sale in data" center="sale.center"
                                radius='circleRadius(sale.value)'
                                fill="sale.color"
                                stroke="sale.stroke"
                                clickable='false'
                                draggable='false'
                                editable='false'
                                visible='sale.visible'
                                >
                            <ui-gmap-window show="showInfoWindow(sale.center)" coords="sale.center" >
                                <div><h5>{{sale.label}}:</h5> <h6>${{sale.value | currency : 2}}</h6></div>
                            </ui-gmap-window>
                            </ui-gmap-circle>
                            
                        </ui-gmap-google-map>
                    
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="graph" aria-labelledBy="graph-tab" style="width: 100%; height: 400px;">
                        <div google-chart class="chart-container" style="width: 100%; height: 400px;" chart="chart"></div>
                  </div>
                </div>

                
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>