<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Work Locations
        
        <div ng-show="isLoading" style="display:inline-block;margin-left:10px;">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>

        <buttons-group id="locations-tab" groups='["Map","Graph"]' css-class="pull-right" on-change-callback="onChangeTab(selected)"> </buttons-group>

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Employees</th>
                                <th>Legend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="location in data | orderBy:'-employee_count'" ng-attr-id="{{location.label}}" ng-mouseover="selectLocation(location.center)">
                                <td>{{location.label}}</td>
                                <td align="right">{{location.value}}</td>
                                <td align="center"><div class="graph-legend" style="background-color:{{location.color.color}}"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-4 (nested) -->
            <div class="col-lg-8">

                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="locations-tab-map" aria-labelledBy="map-tab">
                    
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>

                            <ui-gmap-circle ng-repeat="location in data" center="location.center"
                                radius='circleRadius(location.value)'
                                fill="location.color"
                                stroke="location.stroke"
                                clickable='false'
                                draggable='false'
                                editable='false'
                                visible='location.visible'
                                >
                            <ui-gmap-window show="showInfoWindow(location.center)" coords="location.center" >
                                <div><h5>{{location.label}}:</h5> <h6>{{location.value}} employees</h6></div>
                            </ui-gmap-window>
                            </ui-gmap-circle>
                            
                        </ui-gmap-google-map>
                    
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="locations-tab-graph" aria-labelledBy="graph-tab" style="width: 100%; height: 400px;">
                        <div google-chart class="chart-container" style="width: 100%; height: 400px;" chart="chart"></div>
                  </div>
                </div>

                
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>